extends ./base
block head
    title Sneakers Shop
block variables
block content
  link(href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet")
  style.
    #particles-js {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #3151CC;
      z-index: 100000;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #agency {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      color: #fff;
      font-size: 12px;
      font-weight: 400;

      transition: opacity .5s, top .5s, left .3s;
    }

    #agency.visible {
      opacity: .6;
    }

    #agency:hover {
      opacity: 1;
    }

    #khorito {
      font-family: 'Black Rose';
      font-size: 24px;
    }

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .5s, top .5s, left .3s;
    }

    .letter-main {
      transform: translate(0, -200%);
      fill: #fff;
      /*stroke: #fff;
      stroke-width: 2px;
      stroke-dashoffset: -630;
      stroke-dasharray: -630;
      stroke-linecap: butt;
      stroke-linejoin: round;
      /*animation: dash 3.5s ease-in-out forwards;*/
    }

    @keyframes waterBtn {
      0% {
        transform: scale3d(0.3, 0.3, 1);
      }
      25%, 50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }

    @keyframes dash {
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fromTop {
      0%  {
        transform: translate(0, -20%);
        opacity: 0;
      }

      50% {
        transform: translate(0, 15%);
        opacity: .4;
      }

      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    @keyframes wave {
      0%   {x: -400px;}
      100% {x: 0}
    }
        
    @keyframes fill-up {
      0% {
        height: 0;
        y: 130px;
      }
      100% {
        height: 160px;
        y: -30px;
      }
    }
    .water-fill {
      animation: none;
    }

    .interactive {
      cursor: pointer;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 20px);
      max-width: 500px;
      //- opacity: 0;
      transition: opacity .5s, transform .5s;
      text-align: center;
      color: #fff;
      width: 80%;
    }

    .interactive:hover .interactive__van {
      opacity: 1;
    }

    .interactive__svg {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .interactive__text {
      opacity: 0;
      transition: opacity .5s;
    }

    .interactive svg {
      fill: #fff;
      stroke: none;
    }

    .interactive__van {
      position: absolute;
      opacity: 0;
      transition: opacity .5s;
      
    }

    .interactive__svg-water {
      content: '';
      display: block;
      position: absolute;
      right: -50px;
      width: 150px;
      height: 150px;
      z-index: 1;
      border-radius: 50%;
      opacity: 0;
      background: rgba(111,148,182,0.1);
    }

    .interactive__svg-water:hover {
      animation: waterBtn 0.3s forwards;
    }

    .interactive__shop {
      stroke-width: 10px;
      stroke-dashoffset: 2560;
      stroke-dasharray: 2560;
      opacity: 0;
      transition: opacity .5s;
    }

    .interactive__path {
      margin-left: 55px;
      left: 0;
      stroke-dashoffset: -630;
      stroke-dasharray: -630;
      opacity: 0;
      transition: opacity .5s;
    }

    .visible {
      opacity: .75;
    }

    /*#canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 930px !important;
      z-index: 2000000;
      background-color: rgba(255,255,255,.4);
      height: 130px !important;
    } */
      
  .wrapper
    //- canvas.canvas#canvas
    .particles-js#particles-js
      a(href="https://khorito.ru" target = "_blank").agency#agency Сделано в #[span#khorito khorito ]
      svg(class="loading" id="loading" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="80%" height="200px" viewBox="-10 0 960 120" enable-background="new 0 0 574.558 120" xml:space="preserve")
        defs
          pattern(id="water" width=".25" height="1.1" patternContentUnits="objectBoundingBox")
            path(fill="#fff" d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z")
          path(id="text-path" d="M 50,50 L 100,50")
          g.letters(id="text" transform="matrix(1 0 0 1 -8.0684 116.7852)" font-family="'Montserrat'" font-size="161.047" font-weight="900")
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="0" y="0") S
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="105" y="0") N
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="230" y="0") E
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="348" y="0") A
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="485" y="0") K
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="617" y="0") E
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="725" y="0") R
            text.letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="850" y="0") S


          mask(id="text_mask")
            use(x="0" y="0" xlink:href="#text" opacity="1" fill="#ffffff")
        rect(class="water-fill" id="water-fill" mask="url(#text_mask)" fill="url(#water)" x="-400" y="130" width="1600" height="160")
        g.letters(id="text" transform="matrix(1 0 0 1 -8.0684 116.7852)" font-family="'Montserrat'" font-size="161.047" font-weight="900")
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="0" y="0") S
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="105" y="0") N
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="230" y="0") E
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="348" y="0") A
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="485" y="0") K
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="617" y="0") E
            text.letter-main(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="725" y="0") R
            text.letter-main#last-letter(font-family="'Montserrat'" font-size="161.047" font-weight="900" x="850" y="0") S
        //- text(transform="matrix(1 0 0 1 -8.0684 116.7852)" font-family="'Montserrat'" font-size="161.047" font-weight="900" fill="transparent" stroke="#fff" stroke-width="2").contour-text SNEAKERS
        //-   animate(attributeName="y" from="-100" to ="0" begin="0s" dur="5s" repeatCount="indefinite")
      //- svg(width="130px" height="30px" viewBox="0 0 130 30").agency#agency
      //-   text(font-family="'Pattaya'" font-size="40" y="30" fill="#fff") Khorito
      .interactive
        .interactive__svg
          .interactive__svg-water
          svg.interactive__van(width="50" height="46" viewBox="0 0 189.512 189.511")
            path(id="truck" d="M104.11,29.99c1.025-1.777,0.01-4.859-2.438-4.546c-29.983,3.829-63.621,3.847-93.952,2.488 c-0.909-0.041-1.444,0.51-1.633,1.187c-0.358,0.365-0.622,0.854-0.66,1.512C3.652,61.116-2.141,97.303,5.11,127.4 c-0.52,1.116,0.03,2.66,1.697,2.806c30.319,2.638,66.314,3.87,96.024-3.354c0.121-0.028,0.16-0.112,0.246-0.167 c1.629,0.487,3.695-0.352,3.673-2.557C106.44,92.734,102.884,61.398,104.11,29.99z M9.024,126.07 c-2.93-31.27,2.034-62.579,1.014-93.877c13.592,3.626,27.911,1.771,41.86,1.094c15.595-0.756,32.442,0.506,47.863-1.751 c-4.871,30.894,0.918,61.522,1.392,92.591c0.004,0.29,0.096,0.518,0.166,0.762C71.935,121.288,38.602,123.461,9.024,126.07z")
            path(id="left-wheel" d="M68.451,138.679c-1.611-1.926-4.146-2.661-6.531-2.924c-0.516-0.057-0.999,0.072-1.455,0.269 c-4.234-2.603-10.28-0.749-13.922,2.61c-5.1,4.705-6.379,12.562-2.899,18.521c3.046,5.216,9.654,8.108,15.457,6.48 c5.138-1.441,8.937-6.179,10.827-10.954C71.803,147.944,71.83,142.719,68.451,138.679z M63.325,150.247 c-1.286,3.753-4.984,7.87-9.291,6.745c-4.982-1.303-6.567-6.865-4.526-11.128c1.983-4.142,5.358-5.232,9.192-5.412 c0.251,0.345,0.581,0.659,1.098,0.879c1.541,0.654,3.429,1.018,4.046,2.775C64.541,146.086,63.978,148.343,63.325,150.247z")
            path(id="right-wheel" d="M151.357,137.761c-1.823-1.747-5.481-3.463-8.46-3.261c-3.272-1.376-7.49-0.199-10.514,1.364 c-4.335,2.24-7.521,6.397-8.896,11.021c-3.122,10.493,8.19,17.823,17.445,16.479c7.734-1.123,13.198-8.996,13.918-16.286 C155.191,143.642,153.827,140.129,151.357,137.761z M141.046,155.983c-4.746,1.909-11.963-1.472-10.721-7.213 c1.194-5.52,5.841-7.348,10.405-9.051c1.699,1.044,4.027,0.709,5.739,2.057c1.511,1.188,1.774,2.873,1.676,4.682 C147.936,150.313,144.543,154.576,141.046,155.983z")
            path(d="M36.42,138.726c-6.279-1.533-12.914-1.486-19.341-1.52c-4.403-0.023-13.455-1.217-16.569,2.514 c-0.673,0.807-0.686,1.76,0,2.563c3.006,3.529,10.28,1.994,14.438,2.039c6.915,0.074,13.702,0.336,20.594,0.896 C39.298,145.526,39.993,139.599,36.42,138.726z")
            path(d="M186.502,142.901c-2.183,0.133-4.271,0.438-6.355,0.815c-0.487-0.079-0.978-0.174-1.46-0.21 c-1.457-9.108,0.277-18.403,0.225-27.588c-0.056-9.987-0.037-20.127-1.83-29.974c0.156-0.639,0.151-1.324-0.112-1.942 c-2.558-5.993-8.031-11.603-12.259-16.6c-3.638-4.301-8.488-7.355-12.531-11.212c0.781-1.02,0.749-2.679-0.578-3.321 c-4.726-2.283-9.621-1.787-14.812-1.636c-7.315,0.212-14.585,1.106-21.892,1.494c-0.018,0.001-0.029,0.01-0.046,0.011 c-1.351-0.063-2.681,0.756-2.593,2.522c1.427,28.593-2.971,58.104,0.582,86.487c-10.398-1.261-22.719-2.302-32.722,0.822 c-2.413,0.754-1.816,4.036,0.574,4.241c10.706,0.922,22.602,2.612,33.293,1.522c1.943-0.198,2.923-1.483,3.039-2.857 c3.315-10.083,9.132-17.554,19.32-21.508c14.268-5.536,23.758,5.994,24.045,19.176c0.206,9.437,8.466,7.847,15.718,7.062 c0.377,0.049,0.763,0.04,1.129-0.027c0.324-0.073,0.651-0.1,0.977-0.166c0.982-0.071,1.934-0.109,2.814-0.069 c0.766,0.034,1.364-0.221,1.837-0.604c1.209-0.105,2.418-0.203,3.636-0.202C190.524,148.991,190.507,142.656,186.502,142.901z M134.054,57.87c4.847-0.297,9.944,0.336,14.736-0.43c2.286,4.296,5.545,7.817,8.845,11.489c5.142,5.723,8.923,13.91,15.215,18.413 c-0.016,0.096-0.018,0.192-0.032,0.288c-11.768-0.208-23.674,0.072-35.448,0.257c-5.146,0.081-12.912-1.39-18.411-0.675 c-0.155-9.854-0.521-19.663-1.232-29.229C123.166,58.329,128.601,58.206,134.054,57.87z M170.737,143.992 c-5.854,0.679-2.65-5.041-3.591-8.956c-2.229-9.284-7.307-15.093-16.264-18.447c-12.097-4.53-26.357,3.441-33.14,14.56 c0.986-12.722,1.388-25.722,1.318-38.662c5.687,2.058,12.442,1.532,18.308,1.62c11.751,0.176,23.096,0.484,34.829-0.925 c-0.629,7.541-0.342,15.113,0.003,22.738c0.422,9.364-0.383,18.567,0.771,27.812C172.234,143.815,171.496,143.904,170.737,143.992z")
            path(d="M163.494,98.752c-2.348-0.939-4.977,0.203-7.312,0.835c-2.54,0.688-5.082,1.361-7.618,2.063 c-2.257,0.624-1.717,3.881,0.538,3.979c2.641,0.115,5.203-0.249,7.819-0.58c2.383-0.302,5.188-0.016,7.209-1.424 C166.132,102.232,165.676,99.625,163.494,98.752z")
          svg.interactive__path(width="400" height="25" viewBox="0 0 400 10")
            circle(cx="10" cy="5" r="5" stroke="#fff" stroke-width="1" fill="transparent")
            path(id="path" d="M10,5 Q140,150 240,5 Q240,-150 390,5" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-dasharray="1, 12" style="stroke-dashoffset: 0;" dur="10s")
            animateMotion(dur="10s" repeatCount="indefinite")
              mpath(xlink:href="#path")
            //- line(x1="22" x2="380" y1="5" y2="5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-dasharray="1, 12")
            circle(cx="390" cy="5" r="5" stroke="#fff" stroke-width="1" fill="transparent")
          svg.interactive__shop(width="50" height="46")
            use(xlink:href="images/sprite.svg#online-shop")
        .interactive__text Завези новинки в Sneakers
    .close-icon.hidden
      a(href="#").close-icon__link
        svg.close-icon__svg
          use(xlink:href="images/sprite.svg#close")
    .modal-menu.modal-phone
      .modal-menu__logo.logo 
        a(href="#") sneakers
      .modal-menu__info-text
        .modal-menu__profile.profile
          .profile__avatar
          .profile__text
            .profile__name
              a(href="#").profile__link Сергей Климов
            .profile__mail
              a(href="#").profile__link s.klimov@khorito.ru
        .modal-menu__text
          .modal-menu__cart
            a(href="#").popup-link Моя корзина
          ul.modal-menu__info.auth-info
            li.auth-info__personal.auth-info__item
              a(href="#").auth-info__link.popup-link Персональные данные
            li.auth-info__delivery.auth-info__item
              a(href="#").auth-info__link.popup-link Адрес и способ доставки
            li.auth-info__payment.auth-info__item
              a(href="#").auth-info__link.popup-link Платежные данные
          .modal-menu__exit.auth-exit
            a(href="#").auth-exit__link.popup-link.popup-link_exit Выйти из системы
        .modal-menu__city.modal-filter
          .modal-city.modal-menu__modal-city
              a(href="#").modal-city__close-link
                svg.modal-city__close-icon
                  use(xlink:href="images/sprite.svg#close")
              .city-content.modal-city__content
                ul.city-content__list
                  li.city-content__item
                    svg.city-content__icon
                      use(xlink:href="images/sprite.svg#Msk")
                    .city-content__name(data-name="Msk") Москва
                  li.city-content__item
                    svg.city-content__icon
                      use(xlink:href="images/sprite.svg#Spb")
                    .city-content__name(data-name="Spb") Санкт-Петербург
                  li.city-content__item.active
                    svg.city-content__icon
                      use(xlink:href="images/sprite.svg#Vladivostok")
                    .city-content__name(data-name="Vladivostok") Владивосток
                  li.city-content__item
                    svg.city-content__icon
                      use(xlink:href="images/sprite.svg#Habarovsk")
                    .city-content__name(data-name="Habarovsk") Хабаровск
                a(href="#").city-content__delivery-info.popup-link Условия доставки
          .modal-filter__icon.modal-filter__icon_city
            svg.modal-filter__svg.modal-filter__svg_city
              use(xlink:href="images/sprite.svg#Vladivostok")
          .modal-filter__text
            .modal-city-text
              .modal-filter__name.modal-filter__name_city Выберите город
              .modal-filter__choosed.modal-filter__choosed_city.set-city.set-icon Владивосток
    .modal-filters.modal-phone
      ul.modal-filters__list
        li.modal-filters__item.modal-filter(data-filter-type="sort")
          .modal-filter__icon
            svg.modal-filter__svg
              use(xlink:href="images/sprite.svg#sort")
          .modal-filter__text
            .modal-filter__name В тренде
            .modal-filter__choosed Все тренды
        li.modal-filters__item.modal-filter(data-filter-type="categories")
          .modal-filter__icon
            svg.modal-filter__svg
              use(xlink:href="images/sprite.svg#organization")
          .modal-filter__text
            .modal-filter__name Категории
            .modal-filter__choosed Мужские
        li.modal-filters__item.modal-filter(data-filter-type="brands")
          .modal-filter__icon
            svg.modal-filter__svg
              use(xlink:href="images/sprite.svg#flyers")
          .modal-filter__text
            .modal-filter__name Бренды
            .modal-filter__choosed Все бренды
        li.modal-filters__item.modal-filter(data-filter-type="price")
          .modal-filter__icon
            svg.modal-filter__svg
              use(xlink:href="images/sprite.svg#money")
          .modal-filter__text
            .modal-filter__name Цена
            .modal-filter__choosed.modal-filter__choosed_price От 500 руб до 5 000 руб
        li.modal-filters__item.modal-filter(data-filter-type="colors")
          .modal-filter__icon
            svg.modal-filter__svg
              use(xlink:href="images/sprite.svg#color")
          .modal-filter__text
            .modal-filter__name Цвета
            .modal-filter__choosed
              .modal-filter__color-list Все цвета
        li.modal-filters__item.modal-filter(data-filter-type="sizes")
          .modal-filter__icon
            svg.modal-filter__svg
              use(xlink:href="images/sprite.svg#meter")
          .modal-filter__text
            .modal-filter__name Размер
            .modal-filter__choosed Все размеры
      button#close-filters.modal-btn
        .modal-btn__cross
      button.reset.reset-btn Сбросить все
    button#scroll-up.scroll-up
      i.fas.fa-angle-up
    button#open-filters.modal-btn.open-filters
      svg.open-filters__icon
        use(xlink:href="images/sprite.svg#filter")
    //- button.reset.reset-btn Сбросить все
    .modal
      .modal__box
        .modal__hidden-row.modal__hidden-row_top
            a(href="#").modal__close.modal-trigger
                svg.modal__close-icon
                  use(xlink:href="images/sprite.svg#close")
        .modal__content
          .modal__row.modal__row_tablets.modal__row_product-text
                .product-text
                  .product-text__company Nike
                  .product-text__name Men's Air More
                .modal__product-price 10 490 р
          .modal__gallery
            .modal__slider
              .glide--modal.glide--ltr.glide--carousel.glide--swipeable.glide--slider
                .glide__track(data-glide-el="track")
                  ul.glide__slides
                    li.glide__slide.glide__slide_modal
                      img(src="images/1.png")
                    li.glide__slide.glide__slide_modal
                      img(src="images/1.png")
                    li.glide__slide.glide__slide_modal
                      img(src="images/1.png")
                    li.glide__slide.glide__slide_modal
                      img(src="images/1.png")
            .modal__preview-slider
              .glide--preview.glide--ltr.glide--carousel.glide--swipeable.glide--slider
                .glide__track(data-glide-el="track")
                  ul.glide__slides.glide__slides_preview
                    li.glide__slide.glide__slide_preview
                      img(src="images/1.png")
                    li.glide__slide.glide__slide_preview
                      img(src="images/1.png")
                    li.glide__slide.glide__slide_preview
                      img(src="images/1.png")
                    li.glide__slide.glide__slide_preview
                      img(src="images/1.png")
                .glide__arrows(data-glide-el="controls")
                  a.glide__arrow.glide__arrow_preview-left.glide__arrow_left(href="#" data-glide-dir="<")
                    svg.glide__icon.glide__icon_preview.glide__icon_left
                      use(xlink:href="images/sprite.svg#arrow")
                  a.glide__arrow.glide__arrow_preview-right.glide__arrow_right(href="#" data-glide-dir=">")
                    svg.glide__icon.glide__icon_preview.glide__icon_right
                      use(xlink:href="images/sprite.svg#arrow")
              ul.modal__preview-gallery
                li.modal__preview-item
                  .modal__preview-inner
                    img.modal__preview-img(src="images/1.png")
                li.modal__preview-item
                  .modal__preview-inner
                    img.modal__preview-img(src="images/1.png")
                li.modal__preview-item
                  .modal__preview-inner
                    img.modal__preview-img(src="images/1.png")
                li.modal__preview-item
                  .modal__preview-inner
                    img.modal__preview-img(src="images/1.png")
          .modal__info
            .modal__text
              .modal__row.modal__row_product-text.modal__row_desktop
                .product-text
                  .product-text__company Nike
                  .product-text__name Men's Air More
                .modal__product-price 10 490 р
              .modal__row.select-modal.modal__row_sizes
                .select-modal__title
                  .select-modal__title-text Размеры
                  a(href="#").select-modal__grid
                    .select-modal__grid-text Размерная сетка
                    img(src="images/arrow-grid.png").select-modal__grid-arrow
                ul.select-modal__list.categories.categories_modal-sizes
                  li.categories__item.categories__item_modal-sizes.category
                    label.category__label.label
                      input(type="radio" checked name="modal-sizes").category__radio.radio.radio_modal-sizes
                      .category__radio-fake.radio-fake.radio-fake_modal-sizes
                      .category__name 35
                  li.categories__item.categories__item_modal-sizes.category
                    label.category__label.label
                      input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                      .category__radio-fake.radio-fake.radio-fake_modal-sizes
                      .category__name 37
                  li.categories__item.categories__item_modal-sizes.category
                    label.category__label.label
                      input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                      .category__radio-fake.radio-fake.radio-fake_modal-sizes
                      .category__name 39
                  li.categories__item.categories__item_modal-sizes.category
                    label.category__label.label
                      input(type="radio" checked name="modal-sizes").category__radio.radio.radio_modal-sizes
                      .category__radio-fake.radio-fake.radio-fake_modal-sizes
                      .category__name 40
                  li.categories__item.categories__item_modal-sizes.category
                    label.category__label.label
                      input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                      .category__radio-fake.radio-fake.radio-fake_modal-sizes
                      .category__name 41
                  li.categories__item.categories__item_modal-sizes.category
                    label.category__label.label
                      input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                      .category__radio-fake.radio-fake.radio-fake_modal-sizes
                      .category__name 44
              .modal__row.select-modal.modal__row_colors
                .select-modal__title Цвета
                ul.sneaker-colors.select-modal__list
                  li.sneaker-colors__item
                    label.label
                      input(type="radio" checked name="sneaker-colors-modal-1").radio.radio_sneaker
                      .color-fake(data-color="black")
                  li.sneaker-colors__item
                    label.label
                      input(type="radio" name="sneaker-colors-modal-1").radio.radio_sneaker
                      .color-fake(data-color="grey")
                  li.sneaker-colors__item
                    label.label
                      input(type="radio" name="sneaker-colors-modal-1").radio.radio_sneaker
                      .color-fake(data-color="pink").select-modal__list
              .modal__descr Мужские кроссовки Nike Air More Money сделают твой образ ярче благодаря сочетанию элементов моделей Nike Air More Uptempo и Nike Air Money. Съемная накладка закрывает язычок, позволяя создавать разные образы.
              .modal__code
                .modal__code-text Модель:&nbsp 
                .modal__code-nums AJ2998-600
            .modal__bottom-row
              a(href="#").btn.btn_buy Купить в один клик
              a(href="#").btn.btn_cart Добавить в корзину
    header.header
      .city-popup.header__popup.header__popup_city.popup.popup_city
        .popup__triangle
        .popup__title Выберите город
        .city-content
          ul.city-content__list
            li.city-content__item
              svg.city-content__icon
                use(xlink:href="images/sprite.svg#Msk")
              .city-content__name Москва
            li.city-content__item
              svg.city-content__icon
                use(xlink:href="images/sprite.svg#Spb")
              .city-content__name Санкт-Петербург
            li.city-content__item.active
              svg.city-content__icon
                use(xlink:href="images/sprite.svg#Habarovsk")
              .city-content__name Владивосток
            li.city-content__item
              svg.city-content__icon
                use(xlink:href="images/sprite.svg#Vladivostok")
              .city-content__name Хабаровск
          a(href="#").city-content__delivery-info.popup-link Условия доставки
      .auth-popup.header__popup.header__popup_auth.popup.popup_auth
        .popup__triangle
        .popup__title Личный кабинет
        .auth-popup__profile.profile
          .profile__avatar
          .profile__text
            .profile__name
              a(href="#").profile__link Сергей Климов
            .profile__mail
              a(href="#").profile__link s.klimov@khorito.ru
        ul.auth-popup__info.auth-info
          li.auth-info__personal.auth-info__item
            a(href="#").auth-info__link.popup-link Персональные данные
          li.auth-info__delivery.auth-info__item
            a(href="#").auth-info__link.popup-link Адрес и способ доставки
          li.auth-info__payment.auth-info__item
            a(href="#").auth-info__link.popup-link Платежные данные
        .auth-popup__exit.auth-exit
          a(href="#").auth-exit__link.popup-link.popup-link_exit Выйти из системы
      .cart-popup.header__popup.header__popup_cart.popup.popup_cart
        .popup__triangle
        .popup__title Моя корзина
        ul.cart-popup__list
          li.cart-popup__item.cart-product
            .cart-product__left-col
              .cart-product__img(style="background-image: url('images/4.png');")
                .cart-product__color(data-color="red")
              .cart-product__price(data-price="12590") 12 590 р
            .cart-product__right-col
              .cart-product__text
                .cart-product__company Nike
                .cart-product__name MEN'S AIR MORE UPTEMPO
              .cart-product__num.cart-num
                .cart-num__left-col
                  a(href="#").cart-num__minus -
                  .cart-num__cur-num 1
                  a(href="#").cart-num__plus +
                .cart-num__right-col
                  a(href="#").btn.btn_remove.cart-num__remove Убрать
          li.cart-popup__item.cart-product
            .cart-product__left-col
              .cart-product__img(style="background-image: url('images/1.png');")
                .cart-product__color(data-color="blue")
              .cart-product__price(data-price="2590") 2 590 р
            .cart-product__right-col
              .cart-product__text
                .cart-product__company Nike
                .cart-product__name MEN'S AIR MORE UPTEMPO
              .cart-product__num.cart-num
                .cart-num__left-col
                  a(href="#").cart-num__minus -
                  .cart-num__cur-num 1
                  a(href="#").cart-num__plus +
                .cart-num__right-col
                  a(href="#").btn.btn_remove.cart-num__remove Убрать
          li.cart-popup__item.cart-product
            .cart-product__left-col
              .cart-product__img(style="background-image: url('images/3.png');")
                .cart-product__color(data-color="white")
              .cart-product__price(data-price="6590") 6 590 р
            .cart-product__right-col
              .cart-product__text
                .cart-product__company Nike
                .cart-product__name MEN'S AIR MORE UPTEMPO
              .cart-product__num.cart-num
                .cart-num__left-col
                  a(href="#").cart-num__minus -
                  .cart-num__cur-num 1
                  a(href="#").cart-num__plus +
                .cart-num__right-col
                  a(href="#").btn.btn_remove.cart-num__remove Убрать
        ul.cart-popup__btns
          li.cart-popup__btn
            a(href="#").btn.btn_checkout.cart-popup__checkout Оформить заказ
          li.cart-popup__btn
            a(href="#").btn.btn_close.cart-popup__close В корзину
      .container.container_header
        .city.header__city
          a(href="#").city__link
            svg.city__icon.icon
              use(xlink:href=`images/sprite.svg#placeholder`)
          .city__name.set-city Владивосток
        .logo.header__logo 
          a(href="#") sneakers
        .header__right
          input.input-search.header__search
          label.input-label Что вы ищете?
          ul.icons.header__icons
            li.icons__item.icons__item_search
              a(href="#").icons__link.icons__link_search
                svg.icons__search.icon
                  use(xlink:href=`images/sprite.svg#search`)
            li.icons__item
              a(href="#").icons__link.icons__link_avatar
                svg.icons__avatar.icon
                  use(xlink:href=`images/sprite.svg#avatar`)
            li.icons__item
              a(href="#").icons__link.icons__link_cart
                .icons__cart.cart
                  svg.cart__icon.icon
                    use(xlink:href=`images/sprite.svg#cart`)
                  .cart__num 3
        button(type="button").header__burger.hamburger.hamburger--collapse
          span.hamburger-box
             span.hamburger-inner
    ul.menu
      .container.container_menu
        li.menu__item
          a.menu__link(href="#") новая коллекция
        li.menu__item
          a.menu__link(href="#") распродажи
        li.menu__item
          a.menu__link(href="#") мужские
        li.menu__item
          a.menu__link(href="#") женские
        li.menu__item
          a.menu__link(href="#") детские
        li.menu__item.active
          a.menu__link(href="#") все кроссовки
    .slider
        .glide
          .glide__track(data-glide-el="track")
            ul.glide__slides
              li.glide__slide(data-num="0")
              li.glide__slide(data-num="1")
              li.glide__slide(data-num="2")
          .glide__svg
            .glide__triangle
            .glide__rectangle
          .info.glide__info
                  .info__text Nike Epic React Flyknit iD
                  .info__price 11 990р
                  a(href="#").info__btn.btn.btn_more Подробнее
          .glide__bullets(data-glide-el="controls[nav]").bullets
            a.bullets__link.glide__bullet(href="#" data-glide-dir="=0")
            a.bullets__link.glide__bullet(href="#" data-glide-dir="=1")
            a.bullets__link.glide__bullet(href="#" data-glide-dir="=2")
          .glide__arrows(data-glide-el="controls")
            a.glide__arrow.glide__arrow_left(href="#" data-glide-dir="<")
              svg.glide__icon.glide__icon_left
                use(xlink:href="images/sprite.svg#arrow")
            a.glide__arrow.glide__arrow_right(href="#" data-glide-dir=">")
              svg.glide__icon.glide__icon_right
                use(xlink:href="images/sprite.svg#arrow")
    .main-content
        .container.container_main-content
          aside.aside
            .aside__filters.filters
              .filters__title.main-title
                .main-title__text.no-right-border Фильтры
                a(href="#").main-title__icon.reset-btn
                  i.fas.fa-redo
                .main-title__hint Сбросить все  
                  svg.main-title__reset-angle
                    use(xlink:href="images/sprite.svg#angle-reset")
              ul.filters__list
                li.filters__item.filter.filter.filter_categories
                  .filter__title.title
                    .title__text.no-right-border.no-top-border В тренде
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border.no-bottom-border.sort.sort-content.trands
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" checked="checked" name="sort").category__radio.radio.radio_trands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Все тренды
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="sort").category__radio.radio.radio_trands
                        .category__radio-fake.radio-fake.radio-fake_trands
                        .category__name.filter-item-name Animal Print
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="sort").category__radio.radio.radio_trands
                        .category__radio-fake.radio-fake.radio-fake_trands
                        .category__name.filter-item-name Colorblock
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="sort").category__radio.radio.radio_trands
                        .category__radio-fake.radio-fake.radio-fake_trands
                        .category__name.filter-item-name Dad Sneakers
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="sort").category__radio.radio.radio_trands
                        .category__radio-fake.radio-fake.radio-fake_trands
                        .category__name.filter-item-name Retro Sneakers
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="sort").category__radio.radio.radio_trands
                        .category__radio-fake.radio-fake.radio-fake_trands
                        .category__name.filter-item-name Pastel Colored
                li.filters__item.filter.filter_categories
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Категории
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border.no-bottom-border.categories-content
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" checked name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name.filter-item-name Ботинки
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name.filter-item-name Кроссовки
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name.filter-item-name Футбольные бутсы
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name.filter-item-name Кроссовки баскетбольные
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name.filter-item-name Беговые кроссовки
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name.filter-item-name Кеды
                li.filters__item.filter.filter_categories
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Бренды
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border.brands.brands-content.no-bottom-border(data-filter-type="brands")
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" checked="checked" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Все бренды
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Adidas
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Converse
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Jordan
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name New balance
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Nike
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Puma
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Reebok
                    li.categories__item.category.brands__item
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name.filter-item-name Vans
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Цена
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  .filter__content.price.no-top-border.no-bottom-border.price-content
                    .price__borders
                      .price__from.price-input
                        .price-input__text От
                        input(type="text" placeholder="500").price-input__input#price-from
                      .price__to.price-input
                        .price-input__text До
                        input(type="text" placeholder="5000").price-input__input#price-to
                    .price__slider
                      input(type="text" id="price-slider").price__input-slider
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Цвета
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.no-top-border.colors.no-bottom-border.colors-content
                    li.colors__item
                      label.colors__label.label
                          input(type="checkbox" checked="checked" name="colors").colors__checkbox.checkbox.colors__checkbox_all
                          .colors__all Все цвета
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="white")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="black")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="grey")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="yellow")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="orange")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="red")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="blue")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="green")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="brown")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="pink")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="purple")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="rainbow")
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Размер
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.no-top-border.sizes.no-bottom-border.sizes-content
                    li.sizes__item
                        label.sizes__label.label
                          input(type="checkbox" checked="checked" name="sizes").sizes__radio.radio.radio_sizes
                          .sizes__radio-fake.radio-fake.radio-fake_sizes
                          .sizes__name.filter-item-name Все размеры
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 35
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 36
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 37
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 38
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 39
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 40
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 41
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 42
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 43
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 44
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 45
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name.filter-item-name 46
            .aside__banner.banner
              .banner__img
              .banner__info.info
                .info__text.info__text_banner woman's air max 270
                .info__price.info__price_banner 3 990
          .content
            .content__header
              .content__sort.content-list
                .content-list__title Сортировать по:
                ul.content-list__list
                  li.content-list__item.active.content-list__item_sort
                    a(href="#").content-list__link Названию
                  li.content-list__item.content-list__item_sort
                    a(href="#").content-list__link От дорогих к дешевым
                  li.content-list__item.content-list__item_sort
                    a(href="#").content-list__link От дешевых к дорогим
              .content__model-num.content-list
                .content-list__title Моделей на странице:
                ul.content-list__list 
                  li.content-list__item.active
                    a(href="#").content-list__link 8
                  li.content-list__item
                    a(href="#").content-list__link 20
                  li.content-list__item
                    a(href="#").content-list__link 40
                  li.content-list__item
                    a(href="#").content-list__link 80
            ul.content__goods.goods
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/1.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/2.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/2.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-3").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-3").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-3").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/2.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-4").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-4").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-4").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/5.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-5").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-5").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-5").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/3.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-6").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-6").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-6").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/3.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-7").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-7").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-7").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                    a(href="#").product__like-link.product__like-link_fav
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#like-icon`)
                  img(src="images/1.png").product__img
                  ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-8").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-8").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-8").radio.radio_sneaker
                            .color-fake(data-color="pink")
                  .product__bottom-row.product-buy
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
            .content__pagination.pagination
              a(href="#").pagination__prev.pagination__icon
                svg.pagination__svg
                  use(xlink:href="images/sprite.svg#arrow_left_double")
              ul.pagination__pages.pages
                li.pages__item.pagination__icon.hidden
                  a(href="#").pages__link
                    span.pages__text 1
                li.pages__item.pagination__icon
                  a(href="#").pages__link
                    span.pages__text 2
                li.pages__item.pagination__icon.active
                  a(href="#").pages__link
                    span.pages__text 3
                li.pages__item.pagination__icon
                  a(href="#").pages__link
                    span.pages__text 4
                li.pages__item.pagination__icon.hidden
                  a(href="#").pages__link
                    span.pages__text 5
              a(href="#").pagination__next.pagination__icon
                svg.pagination__svg
                  use(xlink:href="images/sprite.svg#arrow_right_double")
    footer.footer
      .container.container_footer
        .footer__pay-info.pay-info
          .footer__logo.logo
            a(href="#") sneakers
          .footer__pay-logos.pay-info__logos
            img(src="images/logo-visa.png").pay-logos__visa.pay-info__img
            img(src="images/master-card.png").pay-logos__mc.pay-info__img
          .pay-info__pay-text Вы можете оплатить покупки наличными при получении, либо выбрать другой 
            a(href="#").pay-info__main способ оплаты
        ul.footer__cols
          li.footer__col
            .footer__title аккаунт
            ul.footer__list.footer-list
              li.footer-list__item
                a.footer-list__link(href="#") личный кабинет
              li.footer-list__item
                a.footer-list__link(href="#") корзина
          li.footer__col
            .footer__title навигация
            ul.footer__list.footer-list
              li.footer-list__item
                a.footer-list__link(href="#") новая коллекция
              li.footer-list__item
                a.footer-list__link(href="#") распродажи
              li.footer-list__item
                a.footer-list__link(href="#") мужские
              li.footer-list__item
                a.footer-list__link(href="#") женские
              li.footer-list__item
                a.footer-list__link(href="#") детские
              li.footer-list__item
                a.footer-list__link(href="#") все кроссовки
          li.footer__col
            .footer__title компания
            ul.footer__list.footer-list
              li.footer-list__item
                a.footer-list__link(href="#") о нас
              li.footer-list__item
                a.footer-list__link(href="#") условия доставки
              li.footer-list__item
                a.footer-list__link(href="#") политика конфиденциальности
              li.footer-list__item
                a.footer-list__link(href="#") справка и помощь
              li.footer-list__item
                a.footer-list__link(href="#") контакты
              

    script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.min.js")
    script.
      particlesJS.load('particles-js', 'particles.json', function() {
        console.log('callback - particles.js config loaded');
      });

      
      var loadingEl = document.getElementById('loading');
      var agency = document.getElementById('agency');
      


      var svgRect = document.getElementById('water-fill');
      var lastLetter = document.getElementById('last-letter');

      var interactive = document.querySelector('.interactive__svg');
      var interactivePath = document.querySelector('.interactive__path');
      var pathCircle = interactivePath.querySelector('circle');
      var pathLine = interactivePath.querySelector('line');
      var pathVan = document.querySelector('.interactive__van'); 
      var pathShop = document.querySelector('.interactive__shop'); 

      var interactiveText = document.querySelector('.interactive__text');

      function leftWheel() {
        Snap('#left-wheel').animate({transform: 's1.05,1.05'}, 300, function() {
          Snap('#left-wheel').animate({transform: 's0.9,0.9'}, 300);
        })
      }

      function rightWheel() {
        Snap('#right-wheel').animate({transform: 's1.05,1.05'}, 300, function() {
          Snap('#right-wheel').animate({transform: 's0.9,0.9'}, 300);
        })
      }

      function truck() {
        Snap('#truck').animate({transform: 'translate(3,3)'}, 300, function() {
          Snap('#truck').animate({transform: 'translate(0,0)'}, 300);
        })
      }
      setInterval(truck, 700);
      setInterval(leftWheel, 700);
      setInterval(rightWheel, 700);
      
      

      let mouseDown = false;
      interactive.addEventListener('mousedown', function(e) {
        mouseDown = true;
      });

      interactive.addEventListener('mouseup', function(e) {
        mouseDown = false;
        vanOffset = 0;

        //- clearInterval(interval);
      });

      interactive.addEventListener('mouseleave', function(e) {
        mouseDown = false;
        varnOffset = 0;
                //- clearInterval(interval);

      });

      var interval;
      var vanOffset = 0;
      let prevPos = 0;
      //- interactivePath


      ///
      ///
      var continueAnimation = true;
      var stopPos;
      var path = document.getElementById('path');
        var pathD = path.getAttribute('d');
      ///
      ///

      //- var animationTruckBack = function() {
      //-   if (stopPos > 10) {
      //-     path.setAttribute('d', `M${stopPos},5 L390,5`);
      //-     pathVan.style.left = vanOffset + stopPos - 5;
      //-     pathCircle.setAttribute('cx', stopPos);
      //-     stopPos -= 3;
      //-     requestAnimationFrame(animationTruckBack);
      //-   }
      //- }

      interactive.addEventListener('mousedown', function() {
        continueAnimation = false;
        mouseDown = true;

      });

      function backAnimation() {
        continueAnimation = true;
        mouseDown = false;
        interactiveText.style.opacity = '';

        pathVan.style.transition = 'left .5s ease-out';
          pathVan.style.left = 0;
          
          Snap('#path').animate({ d: 'M10,5 L390,5' }, 500);
          Snap('.interactive__path circle').animate({ cx: '10' }, 500);

        pathShop.style.opacity = '';
        interactivePath.style.opacity = '';
      }

      interactive.addEventListener('mouseup', backAnimation);
      interactive.addEventListener('mouseleave', backAnimation);
      


      function moveTrack(e) {
        var pos = e.clientX - interactive.getBoundingClientRect().left;

        if (mouseDown) {
          pathVan.style.transition = '';
          interactiveText.style.opacity = 0;

          var opacityLevel = (pos/1000);
          console.log(opacityLevel);
          pathShop.style.opacity = 0.75 + opacityLevel;
          interactivePath.style.opacity = 0.75 + opacityLevel;


          if (pos >= 391) {
            document.querySelector('.interactive__svg-water').style.animation = 'waterBtn 0.3s forwards';
            interactive.removeEventListener('mousemove', moveTrack);
            interactive.removeEventListener('mouseup', backAnimation);
            interactive.removeEventListener('mouseleave', backAnimation);

            loadingEl.style.left = "30%";
            loadingEl.style.opacity = "0";
            agency.style.left = "30%";
            agency.style.opacity = "0";
            setTimeout(function(){
              fadeOut(preloaderLayer, 300);
            }, 200);
            return;
          } else {
            pathVan.style.left = vanOffset + pos - 5;
            pathCircle.setAttribute('cx', pos);
            document.getElementById('path').setAttribute('d', `M${pos+10},5 L390,5`);
          }
          
        }
      }
      interactive.addEventListener('mousemove', moveTrack);


      var preloaderLayer = document.getElementById("particles-js");
      var wrapper = document.getElementById('wrapper');

      function fadeOut( elem, ms )
      {
        if( ! elem )
          return;

        if( ms )
        {
          var opacity = 1;
          var timer = setInterval( function() {
            opacity -= 50 / ms;
            if( opacity <= 0 )
            {
              clearInterval(timer);
              opacity = 0;
              elem.style.display = "none";
              elem.style.visibility = "hidden";
            }
            elem.style.opacity = opacity;
            elem.style.filter = "alpha(opacity=" + opacity * 100 + ")";
          }, 50 );
        }
        else
        {
          elem.style.opacity = 0;
          elem.style.filter = "alpha(opacity=0)";
          elem.style.display = "none";
          elem.style.visibility = "hidden";
        }
      }

      
    
      window.onload = function() {
        
        var letters = document.querySelectorAll('.letter-main');

        for (var i = 0; i < letters.length; i++) {
          letters[i].style.animation = 'fromTop 0.55s ease-in-out';
          letters[i].style.animationDelay = 0.075 * i + 's';
          letters[i].addEventListener('animationend', function() {
            this.style.transform = 'translate(0, 0)';
          });
        }

        letters[letters.length - 1].addEventListener('animationend', function(e) {
          agency.classList.add('visible');
          //- document.querySelector('.interactive').classList.add('visible');
          document.querySelector('.interactive__path').classList.add('visible');
          document.querySelector('.interactive__van').classList.add('visible');
          document.querySelector('.interactive__shop').classList.add('visible');
          document.querySelector('.interactive__text').classList.add('visible');
          
          var coord = 0;
          var flag = true;
          var svgPath = document.getElementById("path");

          //- var animateTruckBack = function() {
          //-     svgPath.setAttribute('d', `M10,5 Q100,5 200,5 Q300,5 390,5`);
          //- }
          //- var continueAnimation = true;
            
          //- function stopAnimation() {
          //-   continueAnimation = false;
          //- }

          function startAnimation() {
            continueAnimation = true;
            requestAnimationFrame(animate);
          }

          
          
          var animate = function() {
            if (coord === 20) flag = false;
            if (coord === -20) flag = true;
            if (coord === 0 && !continueAnimation) {
              svgPath.setAttribute('d', `M10,5 Q100,5 200,5 Q300,5 390,5`);
              return;
            }

            if (flag) {
              coord++;
            } else {
              coord--;
            }
            svgPath.setAttribute('d', `M10,5 Q100,${coord} 200,5 Q300,${-coord} 380,5`);
            requestAnimationFrame(animate);
          }
          animate();
        });

        loadingEl.addEventListener('click', function(e) {   
          loadingEl.style.left = "30%";
          loadingEl.style.opacity = "0";
          agency.style.left = "30%";
          agency.classList.remove('visible');
          document.querySelector('.interactive').classList.remove('visible');
          setTimeout(function(){
          fadeOut(preloaderLayer, 300);
            }, 200);
          });
      }
    //- script.
      //  CANVAS include type="text/paperscript" canvas="canvas"
      var values = {
        friction: 0.8,
        timeStep: 0.01,
        amount: 15,
        mass: 2,
        count: 0
      };
      values.invMass = 1 / values.mass;

      var path, springs;
      var size = view.size * [1.2, 1];

      var Spring = function(a, b, strength, restLength) {
        this.a = a;
        this.b = b;
        this.restLength = restLength || 80;
        this.strength = strength ? strength : 0.55;
        this.mamb = values.invMass * values.invMass;
      };

      Spring.prototype.update = function() {
        var delta = this.b - this.a;
        var dist = delta.length;
        var normDistStrength = (dist - this.restLength) /
            (dist * this.mamb) * this.strength;
        delta.y *= normDistStrength * values.invMass * 0.2;
        if (!this.a.fixed)
          this.a.y += delta.y;
        if (!this.b.fixed)
          this.b.y -= delta.y;
      };


      function createPath(strength) {
        var path = new Path({
          fillColor: 'black'
        });
        springs = [];
        for (var i = 0; i <= values.amount; i++) {
          var segment = path.add(new Point(i / values.amount, 0.5) * size);
          var point = segment.point;
          if (i == 0 || i == values.amount)
            point.y += size.height;
          point.px = point.x;
          point.py = point.y;
          // The first two and last two points are fixed:
          point.fixed = i < 2 || i > values.amount - 2;
          if (i > 0) {
            var spring = new Spring(segment.previous.point, point, strength);
            springs.push(spring);
          }
        }
        path.position.x -= size.width / 4;
        return path;
      }

      function onResize() {
        if (path)
          path.remove();
        size = view.bounds.size * [2, 1];
        path = createPath(0.1);
      }

      function onMouseMove(event) {
        var location = path.getNearestLocation(event.point);
        var segment = location.segment;
        var point = segment.point;

        if (!point.fixed && location.distance < size.height / 4) {
          var y = event.point.y;
          point.y += (y - point.y) / 6;
          if (segment.previous && !segment.previous.fixed) {
            var previous = segment.previous.point;
            previous.y += (y - previous.y) / 24;
          }
          if (segment.next && !segment.next.fixed) {
            var next = segment.next.point;
            next.y += (y - next.y) / 24;
          }
        }
      }

      function onFrame(event) {
        updateWave(path);
      }

      function updateWave(path) {
        var force = 1 - values.friction * values.timeStep * values.timeStep;
        for (var i = 0, l = path.segments.length; i < l; i++) {
          var point = path.segments[i].point;
          var dy = (point.y - point.py) * force;
          point.py = point.y;
          point.y = Math.max(point.y + dy, 0);
        }

        for (var j = 0, l = springs.length; j < l; j++) {
          springs[j].update();
        }
        path.smooth({ type: 'continuous' });
      }

      function onKeyDown(event) {
        if (event.key == 'space') {
          path.fullySelected = !path.fullySelected;
          path.fillColor = path.fullySelected ? null : 'black';
        }
      }

    script(src="scripts/main.bundle.js")
