extends ./base
block head
    title Авторизация
block variables
    -
        var socialList = [
            {
                href: 'https://vk.com',
                text: 'vk'
            },
            {
                href: 'https://github.com/',
                text: 'github'
            },
            {
                href: 'https://ru.linkedin.com/',
                text: 'linkedin'
            }
        ];

        var buttonsList = [
            {
                href: './works.html',
                spec: 'works',
                text: 'Мои работы'
            },
            {
                href: './about.html',
                spec: 'about',
                text: 'Обо мне'
            },
            {
                href: './blog.html',
                spec: 'blog',
                text: 'Блог'
            }
        ];

block content
    section.section.main
        .main__auth
            a(href="#").btn-auth Авторизоваться
        .main__welcome
            .welcome
                .welcome__info
                    .welcome__about
                        .about
                            img(src='images/avatar.jpg').welcome__avatar
                            .welcome__text
                                .welcome__name Артем Калоев 
                                .welcome__site Личный сайт веб-разработчика
                    .welcome__socials
                        ul.socials
                            each item in socialList
                                li.socials__item
                                    a(href=`${item.href}`).socials__link.social
                                        svg(width='25', height='25').social__icon
                                            use(xlink:href=`images/sprite.svg#${item.text}`)
                .welcome__buttons
                    ul.buttons
                        each item in buttonsList
                            li.buttons__item
                                a(href=`${item.href}`, class=`button button_${item.spec}`) #{item.text}
        .main__credits © Артем Калоев | Создано с любовью в Loftscool | 2018